<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhkj.project.system.mapper.WorkflowBillTraceMapper">

    <resultMap type="com.xhkj.project.system.domain.WorkflowBillTrace" id="WorkflowBillTraceResult">
        <result property="checkId"    column="check_id"    />
        <result property="billId"    column="bill_id"    />
        <result property="workflowId"    column="workflow_id"    />
        <result property="workflowName"    column="workflow_name"    />
        <result property="workflowGroupId"    column="workflow_group_id"    />
        <result property="workflowStepId"    column="workflow_step_id"    />
        <result property="workflowStepNodeId"    column="workflow_step_node_id"    />
        <result property="workflowNodeId"    column="workflow_node_id"    />
        <result property="checkerUserId"    column="checker_user_id"    />
        <result property="checkerUserName"    column="checker_user_name"    />
        <result property="checkerDeptName"    column="checker_dept_name"    />
        <result property="checkerUserPost"    column="checker_user_post"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkRemarks"    column="check_remarks"    />
        <result property="checkAttachmentPath"    column="check_attachment_path"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWorkflowBillTracebasicColums">
        select bt.check_id, bt.bill_id, bt.workflow_id, bt.workflow_name, bt.workflow_group_id, bt.workflow_step_id, bt.workflow_step_node_id, bt.workflow_node_id, bt.checker_user_id, bt.checker_user_name, bt.checker_dept_name, bt.checker_user_post, bt.check_status, bt.check_remarks, bt.check_attachment_path, bt.create_by, bt.create_time
    </sql>

    <select id="selectWorkflowBillTraceList" parameterType="com.xhkj.project.system.domain.WorkflowBillTrace" resultMap="WorkflowBillTraceResult">
        <include refid="selectWorkflowBillTracebasicColums"/>
        from workflow_bill_trace bt
        <where>
            <if test="checkId != null "> and bt.check_id = #{checkId}</if>
            <if test="billId != null "> and bt.bill_id = #{billId}</if>
            <if test="workflowId != null "> and bt.workflow_id = #{workflowId}</if>
            <if test="workflowName != null  and workflowName != '' "> and bt.workflow_name = #{workflowName}</if>
            <if test="workflowGroupId != null "> and bt.workflow_group_id = #{workflowGroupId}</if>
            <if test="workflowStepId != null "> and bt.workflow_step_id = #{workflowStepId}</if>
            <if test="workflowStepNodeId != null "> and bt.workflow_step_node_id = #{workflowStepNodeId}</if>
            <if test="workflowNodeId != null "> and bt.workflow_node_id = #{workflowNodeId}</if>
            <if test="checkerUserId != null "> and bt.checker_user_id = #{checkerUserId}</if>
            <if test="checkerUserName != null  and checkerUserName != '' "> and bt.checker_user_name = #{checkerUserName}</if>
            <if test="checkerDeptName != null  and checkerDeptName != '' "> and bt.checker_dept_name = #{checkerDeptName}</if>
            <if test="checkerUserPost != null  and checkerUserPost != '' "> and bt.checker_user_post = #{checkerUserPost}</if>
            <if test="checkStatus != null  and checkStatus != '' "> and bt.check_status = #{checkStatus}</if>
            <if test="checkRemarks != null  and checkRemarks != '' "> and bt.check_remarks = #{checkRemarks}</if>
            <if test="checkAttachmentPath != null  and checkAttachmentPath != '' "> and bt.check_attachment_path = #{checkAttachmentPath}</if>
            <if test="createBy != null  and createBy != '' "> and bt.create_by = #{createBy}</if>
            <if test="createTime != null "> and bt.create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectWorkflowBillTraceById" parameterType="Long" resultMap="WorkflowBillTraceResult">
        <include refid="selectWorkflowBillTracebasicColums"/>
        from workflow_bill_trace bt
        where bt.check_id = #{checkId}
    </select>

    <insert id="insertWorkflowBillTrace" parameterType="com.xhkj.project.system.domain.WorkflowBillTrace" useGeneratedKeys="true" keyProperty="checkId">
        insert into workflow_bill_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billId != null  ">bill_id,</if>
            <if test="workflowId != null  ">workflow_id,</if>
            <if test="workflowName != null  and workflowName != ''  ">workflow_name,</if>
            <if test="workflowGroupId != null  ">workflow_group_id,</if>
            <if test="workflowStepId != null  ">workflow_step_id,</if>
            <if test="workflowStepNodeId != null  ">workflow_step_node_id,</if>
            <if test="workflowNodeId != null  ">workflow_node_id,</if>
            <if test="checkerUserId != null  ">checker_user_id,</if>
            <if test="checkerUserName != null  and checkerUserName != ''  ">checker_user_name,</if>
            <if test="checkerDeptName != null  and checkerDeptName != ''  ">checker_dept_name,</if>
            <if test="checkerUserPost != null  and checkerUserPost != ''  ">checker_user_post,</if>
            <if test="checkStatus != null  and checkStatus != ''  ">check_status,</if>
            <if test="checkRemarks != null  and checkRemarks != ''  ">check_remarks,</if>
            <if test="checkAttachmentPath != null  and checkAttachmentPath != ''  ">check_attachment_path,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billId != null  ">#{billId},</if>
            <if test="workflowId != null  ">#{workflowId},</if>
            <if test="workflowName != null  and workflowName != ''  ">#{workflowName},</if>
            <if test="workflowGroupId != null  ">#{workflowGroupId},</if>
            <if test="workflowStepId != null  ">#{workflowStepId},</if>
            <if test="workflowStepNodeId != null  ">#{workflowStepNodeId},</if>
            <if test="workflowNodeId != null  ">#{workflowNodeId},</if>
            <if test="checkerUserId != null  ">#{checkerUserId},</if>
            <if test="checkerUserName != null  and checkerUserName != ''  ">#{checkerUserName},</if>
            <if test="checkerDeptName != null  and checkerDeptName != ''  ">#{checkerDeptName},</if>
            <if test="checkerUserPost != null  and checkerUserPost != ''  ">#{checkerUserPost},</if>
            <if test="checkStatus != null  and checkStatus != ''  ">#{checkStatus},</if>
            <if test="checkRemarks != null  and checkRemarks != ''  ">#{checkRemarks},</if>
            <if test="checkAttachmentPath != null  and checkAttachmentPath != ''  ">#{checkAttachmentPath},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateWorkflowBillTrace" parameterType="com.xhkj.project.system.domain.WorkflowBillTrace">
        update workflow_bill_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="billId != null  ">bill_id = #{billId},</if>
            <if test="workflowId != null  ">workflow_id = #{workflowId},</if>
            <if test="workflowName != null  and workflowName != ''  ">workflow_name = #{workflowName},</if>
            <if test="workflowGroupId != null  ">workflow_group_id = #{workflowGroupId},</if>
            <if test="workflowStepId != null  ">workflow_step_id = #{workflowStepId},</if>
            <if test="workflowStepNodeId != null  ">workflow_step_node_id = #{workflowStepNodeId},</if>
            <if test="workflowNodeId != null  ">workflow_node_id = #{workflowNodeId},</if>
            <if test="checkerUserId != null  ">checker_user_id = #{checkerUserId},</if>
            <if test="checkerUserName != null  and checkerUserName != ''  ">checker_user_name = #{checkerUserName},</if>
            <if test="checkerDeptName != null  and checkerDeptName != ''  ">checker_dept_name = #{checkerDeptName},</if>
            <if test="checkerUserPost != null  and checkerUserPost != ''  ">checker_user_post = #{checkerUserPost},</if>
            <if test="checkStatus != null  and checkStatus != ''  ">check_status = #{checkStatus},</if>
            <if test="checkRemarks != null  and checkRemarks != ''  ">check_remarks = #{checkRemarks},</if>
            <if test="checkAttachmentPath != null  and checkAttachmentPath != ''  ">check_attachment_path = #{checkAttachmentPath},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where check_id = #{checkId}
    </update>

    <delete id="deleteWorkflowBillTraceById" parameterType="Long">
        delete from workflow_bill_trace where check_id = #{checkId}
    </delete>

    <delete id="deleteWorkflowBillTraceByIds" parameterType="String">
        delete from workflow_bill_trace where check_id in
        <foreach item="checkId" collection="array" open="(" separator="," close=")">
            #{checkId}
        </foreach>
    </delete>

    <insert id="insertWorkflowBillTraceBatch" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="checkId">
        insert into workflow_bill_trace ( bill_id, workflow_id, workflow_name, workflow_group_id, workflow_step_id, workflow_step_node_id, workflow_node_id, checker_user_id, checker_user_name, checker_dept_name, checker_user_post, check_status, check_remarks, check_attachment_path, create_by, create_time) values
        <foreach item="item" collection="list" separator=",">
            ( #{item.billId}, #{item.workflowId}, #{item.workflowName}, #{item.workflowGroupId}, #{item.workflowStepId}, #{item.workflowStepNodeId}, #{item.workflowNodeId}, #{item.checkerUserId}, #{item.checkerUserName}, #{item.checkerDeptName}, #{item.checkerUserPost}, #{item.checkStatus}, #{item.checkRemarks}, #{item.checkAttachmentPath}, #{item.createBy}, #{item.createTime})
        </foreach>
    </insert>
    <!-- 以上是自动生成的代码尽量别动 -->

    <select id="getBillTraces" resultType="com.xhkj.project.system.domain.vo.WorkflowBillTraceVo">
        select bt.check_id, bt.bill_id, bt.workflow_id, bt.workflow_name, bt.workflow_group_id,
        bt.workflow_step_id, bt.workflow_step_node_id, bt.workflow_node_id, bt.checker_user_id,
        su.nick_name as checker_user_name , bt.checker_dept_name, bt.checker_user_post, bt.check_status,
        bt.check_remarks, bt.check_attachment_path, bt.create_by, bt.create_time
        ,swnc.workflow_node_name as workflowNodeName
        from workflow_bill_trace bt
        left join sys_workflow_node_checker swnc on swnc.workflow_node_id = bt.workflow_node_id
        left join sys_user su on su.user_name = bt.checker_user_name
        where bt.bill_id = #{billId}
    </select>
</mapper>