.card_container{
        display: flex;
    }
    .text {
        font-size: 14px;
      }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    box-sizing: border-box;
    width: 360px;
    margin:20px;
  }
  .el-card__header{
    padding:0
  }