<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhkj.project.business.mapper.BusiTaskLogMapper">
    
    <resultMap type="com.xhkj.project.business.domain.BusiTaskLog" id="BusiTaskLogResult">
        <result property="taskLogId"    column="task_log_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="dayContent"    column="day_content"    />
        <result property="attachmentPath"    column="attachment_path"    />
        <result property="logStatus"    column="log_status"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectBusiTaskLogbasicColums">
        select tl.task_log_id, tl.task_id, tl.day_content, tl.attachment_path, tl.log_status, tl.create_date, tl.create_by, tl.create_time, tl.remark
    </sql>
	
    <select id="selectBusiTaskLogList" parameterType="com.xhkj.project.business.domain.BusiTaskLog" resultMap="BusiTaskLogResult">
        <include refid="selectBusiTaskLogbasicColums"/>
        from busi_task_log tl
        <where>  
            <if test="taskLogId != null "> and tl.task_log_id = #{taskLogId}</if>
             <if test="taskId != null "> and tl.task_id = #{taskId}</if>
             <if test="dayContent != null  and dayContent != '' "> and tl.day_content = #{dayContent}</if>
             <if test="attachmentPath != null  and attachmentPath != '' "> and tl.attachment_path = #{attachmentPath}</if>
             <if test="logStatus != null  and logStatus != '' "> and tl.log_status = #{logStatus}</if>
             <if test="createDate != null "> and tl.create_date = #{createDate}</if>
             <if test="createBy != null  and createBy != '' "> and tl.create_by = #{createBy}</if>
             <if test="createTime != null "> and tl.create_time = #{createTime}</if>
             <if test="remark != null  and remark != '' "> and tl.remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectBusiTaskLogById" parameterType="Long" resultMap="BusiTaskLogResult">
        <include refid="selectBusiTaskLogbasicColums"/>
        from busi_task_log tl
        where tl.task_log_id = #{taskLogId}
    </select>
        
    <insert id="insertBusiTaskLog" parameterType="com.xhkj.project.business.domain.BusiTaskLog" useGeneratedKeys="true" keyProperty="taskLogId">
        insert into busi_task_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskId != null  ">task_id,</if>
			<if test="dayContent != null  and dayContent != ''  ">day_content,</if>
			<if test="attachmentPath != null  and attachmentPath != ''  ">attachment_path,</if>
			<if test="logStatus != null  and logStatus != ''  ">log_status,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskId != null  ">#{taskId},</if>
			<if test="dayContent != null  and dayContent != ''  ">#{dayContent},</if>
			<if test="attachmentPath != null  and attachmentPath != ''  ">#{attachmentPath},</if>
			<if test="logStatus != null  and logStatus != ''  ">#{logStatus},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateBusiTaskLog" parameterType="com.xhkj.project.business.domain.BusiTaskLog">
        update busi_task_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null  ">task_id = #{taskId},</if>
            <if test="dayContent != null  and dayContent != ''  ">day_content = #{dayContent},</if>
            <if test="attachmentPath != null  and attachmentPath != ''  ">attachment_path = #{attachmentPath},</if>
            <if test="logStatus != null  and logStatus != ''  ">log_status = #{logStatus},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where task_log_id = #{taskLogId}
    </update>

	<delete id="deleteBusiTaskLogById" parameterType="Long">
        delete from busi_task_log where task_log_id = #{taskLogId}
    </delete>
	
    <delete id="deleteBusiTaskLogByIds" parameterType="String">
        delete from busi_task_log where task_log_id in 
        <foreach item="taskLogId" collection="array" open="(" separator="," close=")">
            #{taskLogId}
        </foreach>
    </delete>

    <insert id="insertBusiTaskLogBatch" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="taskLogId">
        insert into busi_task_log ( task_id, day_content, attachment_path, log_status, create_date, create_by, create_time, remark) values
        <foreach item="item" collection="list" separator=",">
            ( #{item.taskId}, #{item.dayContent}, #{item.attachmentPath}, #{item.logStatus}, #{item.createDate}, #{item.createBy}, #{item.createTime}, #{item.remark})
        </foreach>
    </insert>
    <!-- 以上是自动生成的代码尽量别动 -->
    <resultMap type="com.xhkj.project.business.domain.vo.BusiTaskLogVo" id="BusiTaskLogVoResult">
        <result property="taskLogId"    column="task_log_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="dayContent"    column="day_content"    />
        <result property="attachmentPath"    column="attachment_path"    />
        <result property="logStatus"    column="log_status"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="nickName"    column="nick_name"    />
    </resultMap>

    <select id="selectBusiTaskLogVos" parameterType="com.xhkj.project.business.domain.BusiTaskLog" resultMap="BusiTaskLogVoResult">
        <include refid="selectBusiTaskLogbasicColums"/>
        ,u.nick_name
        from busi_task_log tl
        join sys_user u on tl.create_by = u.user_name
        <where>
            <if test="taskLogId != null "> and tl.task_log_id = #{taskLogId}</if>
            <if test="taskId != null "> and tl.task_id = #{taskId}</if>
            <if test="dayContent != null  and dayContent != '' "> and tl.day_content = #{dayContent}</if>
            <if test="attachmentPath != null  and attachmentPath != '' "> and tl.attachment_path = #{attachmentPath}</if>
            <if test="logStatus != null  and logStatus != '' "> and tl.log_status = #{logStatus}</if>
            <if test="createDate != null "> and tl.create_date = #{createDate}</if>
            <if test="createBy != null  and createBy != '' "> and tl.create_by = #{createBy}</if>
            <if test="createTime != null "> and tl.create_time = #{createTime}</if>
            <if test="remark != null  and remark != '' "> and tl.remark = #{remark}</if>
        </where>
        order by tl.create_time
    </select>

</mapper>