<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhkj.project.business.mapper.BusiExtraWorkMapper">
    

    <sql id="selectBusiExtraWorkVo">
        select
        extra_work_id,
        user_id,
        extra_work_hours,
        extra_hours_unit,
        extra_work_dates,
        extra_work_Reason,
        dept_Id,
        extra_work_Prj_Name,
        in_prj_flag,
        overtime_sur_time,
        create_by, create_Time, update_by, update_Time, remark,workflow_id from busi_extra_work
    </sql>

    <select id="selectBusiExtraWorkList" parameterType="com.xhkj.project.business.domain.BusiExtraWork" resultType="com.xhkj.project.business.domain.BusiExtraWork">
        select
        be.extra_work_id,
        be.user_id,
        be.extra_work_hours,
        be.extra_hours_unit,
        be.extra_work_dates,
        be.extra_work_Reason,
        be.dept_Id,
        be.extra_work_Prj_Name,
        be.in_prj_flag,
        be.overtime_sur_time,
        ifnull(wb.bill_status,2) as approvalStatus,
        swnc.workflow_node_user_name as curApprover,
        be.create_by, be.create_Time, be.update_by, be.update_Time, be.remark,be.workflow_id
        from busi_extra_work be
        left join workflow_bill wb on be.extra_work_id = wb.bill_id and wb.workflow_id = 1
        left join sys_workflow_node swn on swn.workflow_node_id = wb.workflow_node_id
        left join sys_workflow_node_checker swnc on swnc.workflow_node_id = swn.workflow_node_id

        left join sys_user su on su.user_id = be.user_id
        left join sys_dept sd on sd.dept_id = su.dept_id
        <where>
            <if test="userId != null "> and be.user_id = #{userId}</if>
            <if test="createTime != null "> and be.create_time = #{createTime}</if>
            ${dataScope}
        </where>
        order by be.create_time desc
    </select>

    <select id="selectBusiExtraWorkById" parameterType="Long" resultType="com.xhkj.project.business.domain.BusiExtraWork">
        <include refid="selectBusiExtraWorkVo"/>
        where extra_work_id = #{extraWorkId}
    </select>
        
    <insert id="insertBusiExtraWork" parameterType="com.xhkj.project.business.domain.BusiExtraWork" useGeneratedKeys="true" keyProperty="extraWorkId">
        insert into busi_extra_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="extraWorkHours != null ">extra_work_hours,</if>
            <if test="extraHoursUnit != null  and extraHoursUnit != ''">extra_hours_unit,</if>
            <if test="extraWorkDates != null ">extra_work_dates,</if>
            <if test="extraWorkReason != null ">extra_work_Reason,</if>
            <if test="deptId != null ">dept_Id,</if>
            <if test="extraWorkPrjName != null ">extra_work_Prj_Name,</if>
            <if test="inPrjFlag != null ">in_prj_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">overtime_sur_time,</if>
            <if test="workflowId != null">workflow_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="extraWorkHours != null ">#{extraWorkHours},</if>
            <if test="extraHoursUnit != null  and extraHoursUnit != ''">#{extraHoursUnit},</if>
            <if test="extraWorkDates != null ">#{extraWorkDates},</if>
            <if test="extraWorkReason != null ">#{extraWorkReason},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="extraWorkPrjName != null ">#{extraWorkPrjName},</if>
            <if test="inPrjFlag != null ">#{inPrjFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">#{overtimeSurTime},</if>
            <if test="workflowId != null">#{workflowId},</if>
         </trim>
    </insert>

    <update id="updateBusiExtraWork" parameterType="com.xhkj.project.business.domain.BusiExtraWork">
        update busi_extra_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="extraWorkHours != null ">extra_work_hours = #{extraWorkHours},</if>
            <if test="extraHoursUnit != null  and extraHoursUnit != ''">extra_hours_unit = #{extraHoursUnit},</if>
            <if test="extraWorkReason != null ">extra_work_Reason = #{extraWorkReason},</if>
            <if test="deptId != null ">dept_Id = #{deptId},</if>
            <if test="extraWorkPrjName != null ">extra_work_Prj_Name = #{extraWorkPrjName},</if>
            <if test="inPrjFlag != null ">in_prj_flag = #{inPrjFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">overtime_sur_time = #{overtimeSurTime},</if>
            <if test="workflowId != null">workflow_id = #{workflowId},</if>
        </trim>
        where extra_work_id = #{extraWorkId}
    </update>

    <delete id="deleteBusiExtraWorkById" parameterType="Long">
        delete from busi_extra_work where extra_work_id = #{extraWorkId}
    </delete>

    <delete id="deleteBusiExtraWorkByIds" parameterType="String">
        delete from busi_extra_work where extra_work_id in 
        <foreach item="extraWorkId" collection="array" open="(" separator="," close=")">
            #{extraWorkId}
        </foreach>
    </delete>

    <select id="approveList" parameterType="BusiExtraWorkAprVo" resultType="com.xhkj.project.business.domain.vo.BusiExtraWorkAprVo">
        select
        bew.extra_work_id,
        bew.user_id,
        bew.extra_work_hours,
        bew.extra_hours_unit,
        bew.extra_work_dates,
        bew.extra_work_Reason,
        bew.dept_Id,
        bew.extra_work_Prj_Name,
        bew.in_prj_flag,
        bew.overtime_sur_time,
        bew.create_by, bew.create_Time, bew.update_by, bew.update_Time, bew.remark,
        ifnull(wb.bill_status,2) as approval_Status,
        wb.create_time as applyTime,
        su.nick_name as orginHandler,
        wb.bill_status,
        bew.workflow_id
        from busi_extra_work bew
        left join workflow_bill wb on bew.extra_work_id = wb.bill_id  and wb.workflow_id = #{workflowId}
        left join sys_user su on su.user_name = wb.orgin_Handler
        where 1=1
        and wb.workflow_node_id in (
        select swn.workflow_node_id from sys_workflow_node swn
        left join sys_workflow_node_checker swnc on swnc.workflow_node_id = swn.workflow_node_id
        where swn.workflow_node_checker_type = 2 -- 指定人员
        and swn.workflow_node_check_type = 1   -- 依次审批
        and swnc.workflow_node_user_id = #{userId}
        )
        <if test="deptId != null  and deptId != '' "> and bew.dept_id = #{deptId}</if>
        <if test="billStatus != null and billStatus != ''"> and wb.bill_status = #{billStatus}</if>
        <if test="beginTime != null and beginTime != ''"> and  DATE_FORMAT(wb.create_time,'%Y-%m-%d') >= #{beginTime}</if>
        <if test="endTime != null and endTime != ''"> and  DATE_FORMAT(wb.create_time,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime} </if>
        order by wb.create_time desc
    </select>

</mapper>