<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhkj.project.business.mapper.BusiAskLeaveMapper">


    <sql id="selectBusiAskLeaveVo">
        select leave_id, user_id, leave_type, leave_hours,leave_hours_unit,leave_dates,leave_reason, create_by, create_time, update_by, update_time, remark,dept_id,in_prj_flag,leave_prj_name,overtime_sur_Time,annLea_sur_Time,leave_begin_time,leave_end_time from busi_ask_leave
    </sql>

    <sql id="selectBusiAskLeave">
        select leave_id, user_id, leave_type, leave_hours,leave_hours_unit,leave_dates,leave_reason, create_by, create_time, update_by, update_time, remark,dept_id,in_prj_flag,leave_prj_name,overtime_sur_Time,annLea_sur_Time,leave_begin_time,leave_end_time
    </sql>


    <select id="selectBusiAskLeaveById" parameterType="Long" resultType="com.xhkj.project.business.domain.BusiAskLeave">
        <include refid="selectBusiAskLeaveVo"/>
        where leave_id = #{leaveId}
    </select>


    <select id="selectBusiAskLeaveVoById" parameterType="Long" resultType="com.xhkj.project.business.domain.vo.BusiAskLeaveVo">
        <include refid="selectBusiAskLeaveVo"/>
        where leave_id = #{leaveId}
    </select>



    <select id="selectBusiAskLeaveList" parameterType="BusiAskLeave" resultType="com.xhkj.project.business.domain.BusiAskLeave">
        select
         bal.leave_id, bal.user_id, bal.leave_type, bal.leave_hours,bal.leave_hours_unit,bal.leave_dates,bal.leave_reason, bal.create_by, bal.create_time, bal.update_by,
         bal.update_time,bal.remark,bal.dept_id,bal.in_prj_flag,bal.leave_prj_name,bal.overtime_sur_Time,bal.annLea_sur_Time,bal.leave_begin_time,
         bal.leave_end_time,
         ifnull(wb.bill_status,2) as approval_Status
        from busi_ask_leave bal
        left join workflow_bill wb on bal.leave_id = wb.bill_id  and wb.workflow_id = 2
        left join sys_user sys_user on sys_user.user_id = bal.user_id
        <where>
            <if test="userId != null "> and bal.user_id = #{userId}</if>
            <if test="leaveType != null  and leaveType != ''"> and bal.leave_type = #{leaveType}</if>
            <if test="createTime != null "> and bal.create_time = #{createTime}</if>
            <if test="leaveReason != null and leaveReason != ''"> and bal.leave_reason like  CONCAT('%',#{leaveReason},'%')</if>
            <if test="updateTime != null "> and bal.update_time = #{updateTime}</if>
            <if test="beginTime != null and beginTime != ''"> and bal.leave_begin_time >= #{beginTime}</if>
            <if test="endTime != null and endTime != ''"> and bal.leave_end_time <![CDATA[ <= ]]> #{endTime} </if>
            <if test="createBy != null and createBy != ''"> and bal.create_by = #{createBy} </if>
            ${dataScope}
        </where>
        order by create_time desc
    </select>

    <insert id="insertBusiAskLeave" parameterType="BusiAskLeave" useGeneratedKeys="true" keyProperty="leaveId">
        insert into busi_ask_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="leaveType != null  and leaveType != ''">leave_type,</if>
            <if test="leaveHours != null  and leaveHours != ''">leave_hours,</if>
            <if test="leaveHoursUnit != null  and leaveHoursUnit != ''">leave_hours_unit,</if>
            <if test="leaveDates != null  and leaveDates != ''">leave_dates,</if>
            <if test="leaveReason != null  and leaveReason != ''">leave_reason,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="deptId != null  and deptId != ''">dept_id,</if>
            <if test="inPrjFlag != null  and inPrjFlag != ''">in_prj_flag,</if>
            <if test="leavePrjName != null  and leavePrjName != ''">leave_prj_name,</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">overtime_sur_Time,</if>
            <if test="annLeaSurTime != null  and annLeaSurTime != ''">annLea_sur_Time,</if>
            <if test="leaveBeginTime != null  and leaveBeginTime != ''">leave_begin_time,</if>
            <if test="leaveEndTime != null  and leaveEndTime != ''">leave_end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="leaveType != null  and leaveType != ''">#{leaveType},</if>
            <if test="leaveHours != null  and leaveHours != ''">#{leaveHours},</if>
            <if test="leaveHoursUnit != null  and leaveHoursUnit != ''">#{leaveHoursUnit},</if>
            <if test="leaveDates != null  and leaveDates != ''">#{leaveDates},</if>
            <if test="leaveReason != null  and leaveReason != ''">#{leaveReason},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="deptId != null  and deptId != ''">#{deptId},</if>
            <if test="inPrjFlag != null  and inPrjFlag != ''">#{inPrjFlag},</if>
            <if test="leavePrjName != null  and leavePrjName != ''">#{leavePrjName},</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">#{overtimeSurTime},</if>
            <if test="annLeaSurTime != null  and annLeaSurTime != ''">#{annLeaSurTime},</if>
            <if test="leaveBeginTime != null  and leaveBeginTime != ''">#{leaveBeginTime},</if>
            <if test="leaveEndTime != null  and leaveEndTime != ''">#{leaveEndTime},</if>
         </trim>
    </insert>

    <update id="updateBusiAskLeave" parameterType="BusiAskLeave">
        update busi_ask_leave
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="leaveType != null  and leaveType != ''">leave_type = #{leaveType},</if>
            <if test="leaveHours != null  and leaveHours != ''">leave_hours = #{leaveHours},</if>
            <if test="leaveHoursUnit != null  and leaveHoursUnit != ''">leave_hours_unit = #{leaveHoursUnit},</if>
            <if test="leaveDates != null  and leaveDates != ''">leave_dates = #{leaveDates},</if>
            <if test="leaveReason != null  and leaveReason != ''">leave_reason = #{leaveReason},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="deptId != null  and deptId != ''">dept_id = #{deptId},</if>
            <if test="overtimeSurTime != null  and overtimeSurTime != ''">overtime_sur_Time = #{overtimeSurTime},</if>
            <if test="annLeaSurTime != null  and annLeaSurTime != ''">annLea_sur_Time = #{annLeaSurTime},</if>
            <if test="leaveBeginTime != null  and leaveBeginTime != ''">leave_begin_time = #{leaveBeginTime},</if>
            <if test="leaveEndTime != null  and leaveEndTime != ''">leave_end_time = #{leaveEndTime},</if>
            leave_prj_name = #{leavePrjName},
            in_prj_flag = #{inPrjFlag},
        </trim>
        where leave_id = #{leaveId}
    </update>

    <delete id="deleteBusiAskLeaveById" parameterType="Long">
        delete from busi_ask_leave where leave_id = #{leaveId}
    </delete>

    <delete id="deleteBusiAskLeaveByIds" parameterType="String">
        delete from busi_ask_leave where leave_id in 
        <foreach item="leaveId" collection="array" open="(" separator="," close=")">
            #{leaveId}
        </foreach>
    </delete>


    <select id="approveList" parameterType="BusiAskLeaveAprVo" resultType="com.xhkj.project.business.domain.vo.BusiAskLeaveAprVo">
        select
        bal.leave_id,
        bal.user_id,
        bal.leave_type,
        bal.leave_hours,
        bal.leave_hours_unit,
        bal.leave_dates,
        bal.leave_reason,
        bal.create_by,
        bal.create_time,
        bal.update_by,
        bal.update_time,
        bal.remark,
        bal.dept_id,
        bal.in_prj_flag,
        bal.leave_prj_name,
        bal.overtime_sur_Time,
        bal.annLea_sur_Time,
        bal.leave_begin_time,
        bal.leave_end_time,
        ifnull(wb.bill_status,2) as approval_Status,
        wb.create_time as applyTime,
        su.nick_name as orginHandler
        from busi_ask_leave bal
        left join workflow_bill wb on bal.leave_id = wb.bill_id  and wb.workflow_id = 2
        left join sys_user su on su.user_name = wb.orgin_Handler
        where 1=1
        and wb.workflow_node_id in (
        select swn.workflow_node_id from sys_workflow_node swn
        left join sys_workflow_node_checker swnc on swnc.workflow_node_id = swn.workflow_node_id
        where swn.workflow_node_checker_type = 2 -- 指定人员
        and swn.workflow_node_check_type = 1   -- 依次审批
        and swnc.workflow_node_user_id = #{userId}
        )
        order by wb.create_time desc
    </select>
    
</mapper>